/* LocationDropDown.css */
.location-dropdown-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container label {
  margin-bottom: 5px;
  color: #f3efef;
  font-weight: bold;
}

.input-container select {
  padding: 10px;
  width: 200px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.error-message {
  color: red;
  margin-top: 10px;
}
